universe { include "StarUniverse.json" }
datasets { include "StarDatasets.json" }
query {
  name = "StarSpatialFirstJoin"
  type = "StarSptRange"
  enableFilterByEncodedInfo = true
  predicates: { include "StarPredicates.json"}
  plans {
    physical {
      dictionary = "RedisDictionary"
      triples = "LLLTriples"
      joinTriples = "ABJoinLLLTriples"
    }
    logical = ["RdfFirstStarSptRange"]
  }
}
execution { include "Execution.json" }
sparkParams { include "SparkParams.json" }